<div class="info">
    <p>
        «КардиоАналитик» это интеллектуальная система автоматического создания рекомендаций по управлению вашего
        сердечно-сосудистого здоровья на основе выполнения качественной оценки и прогнозирования введенных показателей с
        использованием принципов доказательной медицины. Используя «КардиоАналитик», вы сможете получать информацию о
        своем сердечно-сосудистом здоровье и текстовые рекомендации, сгенерированные с учетом всех ваших текущих
        исследований, предрасположенностей и вашего образа жизни. Персонализированные рекомендации, будут включать
        стратегические и тактические цели, план их достижения и информацию, позволяющую эффективно двигаться в
        направлении улучшения своего здоровья.
    </p>
    <p>
        При работе с системой «КардиоАналитик» я соглашаюсь на хранение предоставленной мною деперсонализированной
        информации
    </p>
    <div class="btns">
        <a mat-stroked-button href="./assets/confidencepolicy.pdf" target="_blank">Ознакомится с соглашением</a>
        <button mat-raised-button color="primary" (click)="submit()">Принять</button>
    </div>
</div>