<app-user-left-column></app-user-left-column>
<div class="wrapper">
    <h1>Базовые показатели сердечно-сосудистого здоровья</h1>
    <p class="pre">
        Введите базовые показатели, необходимые для оценки и прогнозирования вашего сердечно-сосудистого здоровья и на
        этой основе автоматически создать рекомендации, ориентированные именно на вас и ваши показатели. Полученный
        здесь результат покажет суммарный риск развития возможных сердечно-сосудистых событий в течение последующих
        10-ти лет по шкалам SCORE и определит ваш идеальный «сердечно-сосудистый возраст» по базовым показателям риска
        снижения сердечно-сосудистого здоровья.<br />
        *Шкалы SCORE рекомендованы Минздравом РФ и Европейским обществом кардиологов 2021 года для пациентов старше 40
        лет.
    </p>
    <ng-container *ngIf="user$ | async as user">
        <div class="form" [formGroup]="form">
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Вес (кг)</mat-label>
                <input matInput formControlName="weight">
                <span matSuffix>кг</span>
            </mat-form-field>
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Рост(см)</mat-label>
                <input matInput formControlName="growth">
                <span matSuffix>см</span>
            </mat-form-field>
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Индекс массы тела (ИМТ)</mat-label>
                <input matInput [value]="imt" disabled>
            </mat-form-field>
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Объем талии(см)</mat-label>
                <input matInput formControlName="waist">
                <span matSuffix>см</span>
            </mat-form-field>
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Пол</mat-label>
                <mat-select formControlName="sex">
                    <mat-option *ngFor="let item of sex" [value]="item.value">
                        {{item.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Дата рождения</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="birthAt">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Уровень систолического АД</mat-label>
                <input matInput formControlName="systolicBloodPressureLevel">
                <span matSuffix>мм.рт.ст.</span>
            </mat-form-field>
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Курение</mat-label>
                <mat-select formControlName="isSmocking">
                    <mat-option *ngFor="let item of smocking" [value]="item.value">
                        {{item.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Общий холестерин</mat-label>
                <input matInput formControlName="cholesterol">
                <span matSuffix>ммоль/л</span>
            </mat-form-field>
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Риск сердечно-сосудистых событий в течение 10 лет по шкале SCORE</mat-label>
                <input matInput [value]="user.riskOfCardiovascularEvents??0" disabled>
            </mat-form-field>
            <button mat-stroked-button color="primary" class="btn-loader" [disabled]="riskOfCardiovascularEventsLoading"
                (click)="getRiskOfCardiovascularEvents()">Определить</button>
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Ваш идеальный «сердечно-сосудистый возраст»</mat-label>
                <input matInput [value]="user.cardiovascularAge??0" disabled>
            </mat-form-field>
            <button mat-stroked-button color="primary" class="btn-loader" [disabled]="cardiovascularAgeLoading"
                (click)="getCardiovascularAge()">Определить</button>
        </div>
    </ng-container>
    <div class="btn-next">
        <button [disabled]="!form.valid" mat-raised-button color="primary" (click)="next()">Далее</button>
    </div>
</div>