<app-user-left-column></app-user-left-column>
<div class="wrapper">
    <h1>Образ жизни</h1>
    <p class="pre">
        Введите информацию о вашем образе жизни, эта информация позволит более точно сформулировать текст рекомендаций
        по управлению вашего сердечно-сосудистого здоровья, ориентированный именно на ваш социальный статус и
        особенности образа жизни.
    </p>

    <ng-container *ngIf="user$ | async as user">
        <div class="form" [formGroup]="form">
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Семейное положение</mat-label>
                <mat-select formControlName="familyStatus">
                    <mat-option *ngFor="let item of (user.sex==='man'?fsMan:fsWoman)" [value]="item.value">
                        {{item.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Участие в социально-культурных мероприятиях</mat-label>
                <mat-select formControlName="inSocialEvents">
                    <mat-option *ngFor="let item of se" [value]="item.value">
                        {{item.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Физическая активность</mat-label>
                <mat-select formControlName="physicalActivity">
                    <mat-option *ngFor="let item of pa" [value]="item.value">
                        {{item.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Работа</mat-label>
                <mat-select formControlName="workStatus">
                    <mat-option *ngFor="let item of w" [value]="item.value">
                        {{item.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Симптомы стенокардии (модифицированный опросник Роуза для выявления стенокардии)</mat-label>
                <mat-select [value]="user.symptomsOfAnginaPectoris" disabled>
                    <mat-option *ngFor="let item of sap" [value]="item.value">
                        {{item.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <button mat-stroked-button color="primary" class="btn-loader" (click)="rouse()">Определить</button>
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Приверженность (опросник оценки приверженности лечению (КОП-25)) </mat-label>
                <mat-select [value]="user.commitment" disabled>
                    <mat-option *ngFor="let item of c" [value]="item.value">
                        {{item.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <button mat-stroked-button color="primary" class="btn-loader" (click)="kop()">Определить</button>
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Самая значимая ценность для вас</mat-label>
                <mat-select formControlName="valuation1">
                    <mat-option *ngFor="let item of v" [value]="item">
                        {{item}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Наиболее значимая ценность для вас</mat-label>
                <mat-select formControlName="valuation2">
                    <mat-option *ngFor="let item of v" [value]="item">
                        {{item}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Значимая ценность для вас</mat-label>
                <mat-select formControlName="valuation3">
                    <mat-option *ngFor="let item of v" [value]="item">
                        {{item}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </ng-container>
    <div class="btn-next">
        <button [disabled]="!form.valid" mat-raised-button color="primary" (click)="next()">Далее</button>
    </div>
</div>