<app-user-left-column></app-user-left-column>
<div class="wrapper">
    <h1>Оценка сердечно-сосудистого риска</h1>
    <p class="pre">
        Введите данные по дополнительным показателям, рекомендованные курирующим врачом, это важно для их оценки,
        прогнозирования и контроля, а также для генерации персонализированных рекомендаций. Если значения дополнительных
        показателей сердечно-сосудистого здоровья неизвестны, введите значение 0.
    </p>

    <ng-container *ngIf="user$ | async as user">
        <div class="form" [formGroup]="form">
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Холестерин высокой плотности (ЛПВП)</mat-label>
                <input matInput formControlName="highDensityCholesterol">
                <span matSuffix>ммоль/л</span>
            </mat-form-field>
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Холестерин низкой плотности (ЛПНП)</mat-label>
                <input matInput formControlName="lowDensityCholesterol">
                <span matSuffix>ммоль/л</span>
            </mat-form-field>
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Триглицериды</mat-label>
                <input matInput formControlName="triglycerides">
                <span matSuffix>ммоль/л</span>
            </mat-form-field>
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Липопротеин</mat-label>
                <input matInput formControlName="lipoprotein">
                <span matSuffix>г/л</span>
            </mat-form-field>
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Результаты ЭКГ</mat-label>
                <mat-select formControlName="ecg">
                    <mat-option *ngFor="let item of ecg" [value]="item.value">
                        {{item.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Высокочувствительный С-реактивный белок (кардио)</mat-label>
                <input matInput formControlName="protein">
                <span matSuffix>мг/л</span>
            </mat-form-field>
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Коэффициент атерогенности</mat-label>
                <input matInput formControlName="atherogenicCoefficient">
            </mat-form-field>
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Креатинин</mat-label>
                <input matInput formControlName="creatinine">
                <span matSuffix>ммоль/л</span>
            </mat-form-field>
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Ваш идеальный «сердечно-сосудистый возраст»</mat-label>
                <input matInput [value]="user.cardiovascularAge??0" disabled>
            </mat-form-field>
            <button mat-stroked-button color="primary" class="btn-loader" [disabled]="cardiovascularAgeLoading"
                (click)="getCardiovascularAge()">Определить</button>
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Риск сердечно-сосудистых событий в течение 10 лет по шкале SCORE</mat-label>
                <input matInput [value]="user.riskOfCardiovascularEvents??0" disabled>
            </mat-form-field>
            <button mat-stroked-button color="primary" class="btn-loader" [disabled]="riskOfCardiovascularEventsLoading"
                (click)="getRiskOfCardiovascularEvents()">Определить</button>
            <!-- <mat-form-field class="full-width" appearance="outline">
                <mat-label>Результаты УЗДМАГ. Наличие атеросклеротических бляшек</mat-label>
                <mat-select formControlName="havePlaques">
                    <mat-option *ngFor="let item of yn" [value]="item.value">
                        {{item.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field> -->
        </div>
    </ng-container>
</div>