<div *ngIf="!(loading$|async)" class="user-info">
    <ng-container *ngIf="(user$|async) as user">
        <p class="name">
            {{user.fio}}
        </p>
        <div class="info">
            <span class="field__name">Дата рождения:</span>
            <span class="field__value">{{(user.born * 1000) | date: 'dd.MM.yyyy'}}</span>
            <span class="field__name">Регион:</span>
            <span class="field__value">{{user.region}}</span>
            <span class="field__name">Класс пациента:</span>
            <span class="field__value">{{user.clientClass}}</span>
            <span class="field__name">Посл. обращение:</span>
            <span class="field__value">{{(user.lastRequestAt * 1000) | date: 'dd.MM.yyyy'}}</span>
            <span class="field__name">ФИО врача:</span>
            <span class="field__value">{{user.doctorFio}}</span>
        </div>
    </ng-container>
    <div class="menu">
        <a mat-stroked-button color="primary" [ngClass]="{active:isActive('profile')}" (click)="open('profile')">Общая
            информация</a>
        <a mat-stroked-button color="primary" [ngClass]="{active:isActive('baseline')}"
            (click)="open('baseline')">Базовые
            показатели</a>
        <a mat-stroked-button color="primary" [ngClass]="{active:isActive('lifestyle')}"
            (click)="open('lifestyle')">Образ
            жизни</a>
        <a mat-stroked-button color="primary" [ngClass]="{active:isActive('additional')}"
            (click)="open('additional')">Дополнительно</a>
        <a mat-stroked-button color="primary" [ngClass]="{active:isActive('recommendation')}"
            (click)="open('recommendation')">Рекомендации</a>
    </div>
</div>
<app-loader *ngIf="(loading$|async)"></app-loader>